.tt-container {
  display: inline-block;
}

.tt-container:hover {
  cursor: pointer
}

.tt-container:hover .tt-tooltip {
  display: inline-block;
}

.tt-tooltip {
  display: none;
  background: #C8C8C8;

  position: absolute;
  top: 0px;
  left: 0px;

  z-index: 1000;
  width: 100%;

  text-align: center;
}
